<div class="background-container">
    <div class="content-container">
        <div class="logo-container">
            <svg width="80" height="80" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="45" fill="white" stroke="black" stroke-width="5" />
                <path d="M5 50 A45 45 0 0 1 95 50 Z" fill="red" stroke="black" stroke-width="2" />
                <path d="M5 50 A45 45 0 0 0 95 50 Z" fill="white" stroke="black" stroke-width="2" />
                <circle cx="50" cy="50" r="10" fill="white" stroke="black" stroke-width="5" />
                <circle cx="50" cy="50" r="5" fill="white" stroke="black" stroke-width="2" />
                <line x1="5" y1="50" x2="95" y2="50" stroke="black" stroke-width="5" />
            </svg>
            <h1>Pokédex</h1>
        </div>
        <input #searchInput [disabled]="apiService.loadingPokemon || cardService.isOpen" (input)="resetSearchPokemon()" [(ngModel)]="search" type="text" name="search" id="search" placeholder="Pokémon Namen (Englisch)...">
        <button (click)="searchPokemon()" class="pokemon-button">Suchen</button>
    </div>
</div>