.background-container {
    background-color: #07242e;
}

.content-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .loading-pokemon-container {
        color: white;
    }

    input {
        max-width: 300px;
        width: 100%;
        height: 50px;
        padding-left: 30px;
        font-size: 18px;
        border: unset;
        border-radius: 30px;
        cursor: pointer;
    }
}

.logo-container {

    h1 {
        font-size: 60px;
        font-weight: 700;
        color: white;
    }
}

@media(max-width: 700px) {
    .content-container {
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width: 400px) {
    .content-container {

        input {
            font-size: 16px;
        }
    }

    .logo-container {

        h1 {
            font-size: 50px;
        }
    }
}