.background-container {
    background-color: #0c1820;
    position: relative;
}

.content-container {
    max-width: 1920px;
    width: 100%;
    height: calc(100vh - 323px);
    margin: 0 auto;
    padding: 30px;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

@media(max-width: 700px) {
    .content-container {
        height: calc(100vh - 200px);
        padding: 20px;
    }
}