<div (click)="openBigCard()" class="card-container"
    [ngStyle]="{'background': !pokemon.types.secondType ? cardService.getColor(pokemon.types.firstType) : cardService.getGradient(pokemon.types)}">
    <div class="card-header-container">
        <h2>{{pokemon.name | titlecase}}</h2>
        <span>{{cardService.handleZero(pokemon.id)}}{{pokemon.id}}</span>
    </div>
    <div class="card-img-container">
        <img src="{{pokemon.img}}" alt="pokemon">
    </div>
    <div class="card-footer-container">
        <div [ngStyle]="{'background-color': cardService.getColor(pokemon.types.firstType)}">
            {{pokemon.types.firstType| titlecase}}
        </div>
        @if(pokemon.types.secondType){
        <div [ngStyle]="{'background-color': cardService.getColor(pokemon.types.secondType)}">
            {{pokemon.types.secondType| titlecase}}
        </div>
        }
    </div>
</div>