.card-container {
    width: 328px;
    height: 350px;
    border-radius: 10px;
    background-color: #07242e;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    &:hover img {
        transform: scale(1.2);
    }
}

.card-header-container {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;

    span {
        font-size: 36px;
        color: white;
    }
}

.card-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}

.card-footer-container {
    height: 80px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    div {
        color: white;
        font-size: 24px;
        font-weight: 700;
    }
}