<div (click)="bigCardService.saveCurrentPokemon(pokemon)" class="card-container">
    <div class="card-header-container">
        <span>{{pokemon.name | titlecase}}</span>
        <span>{{bigCardService.handleZero(pokemon.id)}}{{pokemon.id}}</span>
    </div>
    <div [ngStyle]="{'background': pokemon.types.length === 1 ? bigCardService.getColor(pokemon.types[0].type.name) : bigCardService.getGradient(pokemon.types)}"
        class="card-img-container">
        <img src="{{pokemon.sprites.other.dream_world.front_default}}" alt="pokemon">
    </div>
    <div class="card-footer-container">
        <div [ngStyle]="{'background-color': bigCardService.getColor(pokemon.types[0].type.name)}">
            {{pokemon.types[0].type.name| titlecase}}
        </div>
        @if(pokemon.types.length > 1){
        <div [ngStyle]="{'background-color': bigCardService.getColor(pokemon.types[1].type.name)}">
            {{pokemon.types[1].type.name| titlecase}}
        </div>
        }
    </div>
</div>