.background-container {
    background-color: rgb(12, 24, 32, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-card-container {
    background-color: #07242e;
    max-width: 700px;
    width: 40%;
    border-radius: 20px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.big-card-top-container {
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.big-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 30px;

    h2 {
        font-weight: 900;
    }

    span {
        font-size: 60px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 900;
    }
}

.big-card-type {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 30px;

    div {
        color: white;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        font-size: 24px;
        font-weight: 700;
        padding: 5px 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        border-radius: 50px;
        text-align: center;
    }
}

.big-card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        min-width: 250px;
        min-height: 250px;
        cursor: pointer;
        animation: zoom 4s ease-in-out infinite;
    }

    @keyframes zoom {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }
}

.svg-container {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        cursor: pointer;
        position: relative;
        z-index: 9999;
    }

    .wip-left {
        animation: wipLeft 1.5s ease-in-out infinite;
    }

    .wip-right {
        animation: wipRight 1.5s ease-in-out infinite;
    }

    @keyframes wipLeft {
        0% {
            transform: translateX(0%);
        }

        50% {
            transform: translateX(-10%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes wipRight {
        0% {
            transform: translateX(0%);
        }

        50% {
            transform: translateX(10%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}

.big-card-bottom-container {
    padding: 30px;
    margin: 20px;
    min-height: 540px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #0d1921;

    .navigation-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 30px;
            cursor: pointer;
        }

        .underline-animation {
            position: relative;
            padding-bottom: 10px;
        }

        .underline-animation::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: rgb(248, 58, 53);
            transition: width 0.5s ease;
        }

        .underline-animation:hover::after {
            width: 100%;
        }

        .underline-fixed {
            position: relative;
            padding-bottom: 10px;
        }

        .underline-fixed::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: rgb(85, 132, 198);
        }
    }

    canvas {
        width: 100% !important;
    }

    .evolution-container {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 0;
        }

        .pokemon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            img {
                width: 110px;
                height: 110px;
            }

            span {
                font-size: 24px;
                text-align: center;

                span {
                    color: rgba(255, 255, 255, 0.6);
                    font-weight: 900;
                }
            }
        }

        svg {
            min-width: 40px;
        }
    }
}